using System.Collections;
using System.Collections.Generic;
using UnityEngine;

public class MoveSquare : MonoBehaviour
{
    Vector3 originalPos;
    public float speed = 5.0F;
    private float downBound = -4.5F;
 
  

    void Start()
    {
        originalPos = new Vector3(gameObject.transform.position.x, gameObject.transform.position.y, gameObject.transform.position.z);


    }
      void Update()
    {

        transform.Translate(0, -speed * Time.deltaTime, 0);
       
         if (transform.position.y < downBound)
        {
            gameObject.transform.position = originalPos;
            Debug.Log("End Position");
        }
     



    }
}
